* {
    margin: 0;
  }
  
  body {
    overflow-x: hidden;
    background-color: #EBEFF2;
  }

  .sidebar-container{
    z-index: 999;
    position: fixed;
    right: 2%;
    top: 3%;
  }

  .sidebar-button {
    float: right;
    margin-right: 2%;
  }
  
  .button-sidebar {
    font-size: 1.12vw;
    color: #ffffff;
    font-family: Roboto-Condensed-Regular;
    background-color: transparent;
    border: none;
    padding: 0.52vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-text {
    margin-top: 2.08vw;
    transform: rotate(90deg);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: -25%;
    background-color: #ffffff;
    border: 0.25px solid #343a40;
    padding-left: 1.82vw;
    padding-right: 1.82vw;
    height: 100%;
    width: 9.37vw;
    transition: right 1s ease;
  }

  .sidebar.active{
    right: 0;
  }
    
  .divider-1 {
    width: 100%;
    padding-top: 2.60vw;
    padding-bottom: 2.08vw;
    color: #343a40;
    font-size: 1vw;
    font-family: Roboto-Condensed-Bold;
  }
  
  .divider-2 {
    width: 100%;
    padding-top: 2.08vw;
    padding-bottom: 2.08vw;
    color: #343a40;
    font-size: 1vw;
    font-family: Roboto-Condensed-Light;
  }
  
  .menu-heading {
    font-size: 1.26vw;
    font-weight: 700;
    color: #343a40;
  }

  .divider-2-item-container{
    margin-top: 2.20vw;
  }

  .brand-value-link{
    text-decoration: none;
  }

  .menu-item-link{
    text-decoration: none;
    color: #343a40;
  }
  
  .divider-2-item {
    font-size: 1vw;
    font-weight: 300;
    color: #343a40;
  }
  
  .divider-3 {
    width: 100%;
    padding-top: 2.08vw;
    padding-bottom: 2.60vw;
    color: #343a40;
    font-size: 1vw;
    font-family: Roboto-Condensed-Light;
  }
  
  .divider-1-item {
    color: #014e9e;
    font-size: 1vw;
    font-family: Roboto-Condensed-Bold;
  }
  
  .close-button {
    border: none;
    background-color: none;
    background: none;
    font-size: 1.12vw;
    width: 100%;
  }
  
  .close-button-text {
    float: left;
    font-family: Roboto-Condensed-Regular;
    text-transform: uppercase;
  }
  
  .close-button-x {
    float: right;
    font-family: Roboto-Condensed-Light;
  }
  
  .menu-horizontal-line{
    width: 100%;
    height: 0.013vw;
    background-color: #343a40;
  }

  .kapatal-image{
    position: fixed;
    margin-top: 2%;
    margin-left: 5%;
    width: 15%;
    height: auto;
    z-index: 999;
  }

  .main-image{
    width: 100%;
    height: auto;
    z-index: 999;
  }

  .main-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  .main-imagery-section{
    position: relative;
    background-color: #014E9E;
    width: 100%;
    height: 50.15vw;
  }

  .main-imagery-content{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-imagery-heading-1{
    font-family: Roboto-Condensed-Bold;
    font-size: 4.16vw;
    color: #EBEFF2;
    text-transform: uppercase;
  }

  .main-imagery-subheading-1{
    font-family: Roboto-Condensed-Medium;
    font-weight: 500;
    font-size: 1.04vw;
    color: #EBEFF2;
  }

  .main-imagery-paragraph-1{
    font-family: Roboto-Condensed-Light;
    font-size: 1.04vw;
    color: #EBEFF2;
  }
  
.brand-imagery-guidlines-section{
  position: relative;
}

.brand-imagery-guidlines-content{
  position: relative;
  padding-top: 2.60vw;
}

.brand-imagery-guidlines-text{
  width: 50%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0)
}

.brand-imagery-guidlines-heading{
  color: #343A40;
  font-family: Roboto-Condensed-Bold;
  font-size: 4.16vw;
  text-transform: uppercase;
}

.brand-imagery-guidlines-subheading{
  color: #343A40;
  font-family: Roboto-Condensed-Medium;
  font-size: 1.04vw;
}

.brand-imagery-guidlines-paragraph{
  color: #343A40;
  font-family: Roboto-Condensed-Light;
  font-size: 1.04vw;
}

.relevance-section, .quality-section,
.brand-color-section, .composition-section,
.professionalism-section{
  position: relative;
}

.relevance-content, .quality-content,
.brand-color-content, .composition-content,
.professionalism-content{
  position: relative;
  padding-top: 2.60vw;
}

.relevance-text, .quality-text,
.brand-color-text, .composition-text,
.professionalism-text{
  width: 50%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.relevance-heading, .quality-heading,
.brand-color-heading, .composition-heading,
.professionalism-heading{
  color: #014E9E;
  font-family: Roboto-Condensed-Bold;
  font-size: 2.083vw;
  text-transform: uppercase;
}

.relevance-paragraph, .quality-paragraph,
.brand-color-paragraph, .composition-paragraph,
.professionalism-paragraph{
  color: #343A40;
  font-family: Roboto-Condensed-Light;
  font-size: 1.04vw;
}

.relevance-images, .quality-images,
.brand-color-images, .composition-images,
.professionalism-images{
  position: relative;
  padding-top: 2.60vw;
}

.relevance-images-1, .quality-images-1,
.brand-color-images-1, .composition-images-1,
.professionalism-images-1{
  display: flex;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-25%, 0);
}

.relevance-image-1-1, .quality-image-1-1,
.brand-color-image-1-1, .professionalism-image-1-1{
  margin-right: 1.30vw;
}

.relevance-image-1-2, .quality-image-1-2,
.brand-color-image-1-2, .professionalism-image-1-2{
  margin-left: 1.30vw;
}

.relevance-image-1-1, .relevance-image-1-2,
.quality-image-1-1, .quality-image-1-2,
.brand-color-image-1-1 , .brand-color-image-1-2,
.professionalism-image-1-1, .professionalism-image-1-2{
  width: 22vw;
  height: auto;
  border: 0.25px solid #343A40;
}

.relevance-image-1-1-1, .relevance-image-1-2-1,
.quality-image-1-1-1, .quality-image-1-2-1,
.brand-color-image-1-1-1 , .brand-color-image-1-2-1,
.professionalism-image-1-1-1, .professionalism-image-1-2-1{
  width: 100%;
  height: 100%;
}

.composition-image-1-1{
  width: 46vw;
  height: auto;
  border: 0.25px solid #343A40;
}

.composition-image-1-1-1{
  width: 100%;
  height: 100%;
}

.footer-section{
  position: relative;
}

.footer-content{
  position: relative;
  padding-top: 4.16vw;
  padding-bottom: 2.60vw;
}

.footer-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-section-1{
  color:#014E9E;
  font-family: Roboto-Condensed-Medium;
  font-size: 1.04vw;
}

.footer-section-2{
  color:#014E9E;
  font-family: Roboto-Condensed-Light;
  font-size: 1.04vw;
}